@import "@/shared/styles/variables.less";

.single-info-title {
  font-size: @font-size-sm;
  left: 17px;
  font-weight: 600;
  margin-bottom: 6px;
  color: @color__242424;
}

.single-info-details {
  border: 1px solid @color__e6e6e6;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px;
  font-size: @font-size-lg;
  line-height: 22px;

  &:hover {
    cursor: not-allowed;
  }
}

.single-info-deleted-data {
  text-decoration: line-through;
  color: @color__939393;
  padding-left: 3px;
  font-size: @font-size-base;
}

.single-info-unit {
  padding-left: 4px;
}
