@import "@/shared/styles/variables.less";

.coin-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.img-chain-type {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .spotecicon {
    color: @color__primary;
    width: 17px;
    height: 14px;
  }
}

.coin-img-wrapper {
  .spotecicon {
    width: 22px;
    height: 22px;
  }

  .usdt-img {
    color: @color__1ba27a;
  }

  .btc-icon {
    width: 22px;
    height: 22px;
    color: @color__f89e30;
  }

  .eth-icon {
    width: 22px;
    height: 22px;
    color: @color__343b5b;
  }
}

.head-unit {
  padding: 0 8px;
  font-size: @font-size__17;
}

.balance-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.balance-unit {
  padding-left: 5px;
}

.origin-coin {
  font-size: @font-size-base;
}

.exchange-coin {
  color: @color__8b8b8b;
}

.chooses {
  color: @color__primary;

  .exchange-coin {
    color: @color__primary;
  }
}
