@import '~@/shared/styles/variables.less';

.pay-way-selector-container {
  padding: 20px 30px;
}

.pay-way-selector-title {
  font-size: @font-size-sm;
  font-weight: 600;
  margin-bottom: 6px;
  color: @color__242424;
}

.pay-way-selectors {
  background-color: @color__f7f8fc;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  color: @color__primary;
}

.white-pay-way-selectors {
  background-color: @white;
}

.pay-way-chooses-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: @font-size-lg;
}

.pay-way-coin-img {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}

.fold-click-show-selector {
  padding-left: 20px;
  border-left: 1px solid @color__cacaca;
  cursor: pointer;

  .spotecicon {
    transform: rotate(90deg);
    width: 8px;
    height: 4px;
    color: @color__primary;
    padding-bottom: 5px;
    margin-left: 4px;
  }
}

.click-show-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  .spotecicon {
    width: 8px;
    height: 4px;
    color: @color__primary;
    padding-bottom: 5px;
    margin-left: 4px;
  }
}

.pay-way-overlay {
  .mp-dropdown-menu-item {
    border-bottom: 1px solid @color__e6e6e6;
  }

  .mp-dropdown-menu-item:last-child {
    border-bottom: none;
  }
}

.pay-way-balance {
  padding: 10px 0;
  font-weight: 600;
}

.pay-no-balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: @color__fe6565;
  font-weight: normal;

  .spotecicon {
    width: 17px;
    height: 17px;
  }
}

.pay-not-enough {
  padding: 0 20px 0 4px;
}

.pay-right-now {
  color: @color__primary;
  text-decoration: underline;
}

.pay-way-balance-amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wait-pay-amount {
  padding: 18px 0 20px;
}

.wait-pay-amount-title {
  font-size: @font-size__18;
  font-weight: 500;
  padding-bottom: 5px;
}

.will-pay-number {
  color: @color__fe6565;
  font-size: @font-size__26;
  margin-right: 4px;
  font-weight: 600;
}
