@import "@/shared/styles/variables.less";

.subject-summary-container {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.subject-summary-img {
  width: 557px;
  border-radius: 61px;
  background-color: #e2e9f2;

  img {
    width: 100%;
    border-radius: 61px;
    position: relative;
    top: -20px;
    right: -20px;
  }
}

.subject-summary-content-container {
  padding-top: 40px;
}

.subject-summary-content {
  width: 600px;
  font-size: 16px;
}

.summary-content-text {
  border-top: 2px solid #ffd100;
  padding-top: 9px;
}

.about-title-image {
  img {
    width: 201px;
  }
}

.summary-dots-icon {
  position: absolute;
  right: 0;
  top: -4px;
}
