@import '@/shared/styles/variables.less';

.wrapper {
  background-image: url('~assets/home/hashrate-coupon-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
  padding: 36px 40px 70px;
}

.title {
  font-size: @font-size__17;
  line-height: 24px;
  color: @color__8598bb;
  margin-bottom: 74px;
}

.name {
  margin: 0 auto;
  width: 208px;
  font-size: @font-size__17;
  line-height: 24px;
  color: @color__primary;
  margin-bottom: 13px;
  height: 48px;
}

.amount {
  font-size: @font-size__60;
  line-height: 84px;
  color: @color__182742;
  font-weight: 600;
}

.validity {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 33px 33px 33px 1px;
  background: linear-gradient(225deg, @color__primary 0%, @color__00c9c4 100%);
  margin-left: 4.5px;
  transform: translateY(-11px);
  font-size: @font-size__15;
  line-height: 21px;
  color: @white;
}

.hashrate-type {
  font-size: @font-size-base;
  line-height: 20px;
  color: @color__0e1d34;
  margin-bottom: 74px;
}

.view-now {
  display: inline-block;
  width: 178px;
  font-size: @font-size__18;
  color: @white;
  margin-bottom: 20px;
  height: 44px;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
}

.prompt {
  font-size: @font-size-base;
  line-height: 20px;
  color: @white;
}
