@import '@/shared/styles/variables.less';

.news-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid @color__182742;
  cursor: pointer;
  padding-bottom: 20px;
}

.content-box {
  display: flex;
}

.image-wrapper {
  position: relative;
  width: 241px;
  height: 151px;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}

.news-image {
  width: 241px;
  transform: translateY(-15px);
}

.news-text {
  height: 76px;
  color: @color__242424;
  font-size: @font-size-lg;
  line-height: 26px;
  margin-bottom: 12px;
}

.right-content {
  width: 940px;
  display: flex;
  flex-direction: column;
  font-size: @font-size-base;
  line-height: 20px;
  color: @color__959595;
  margin-left: 19px;
}

.news-title {
  width: 100%;
  font-size: @font-size__24;
  line-height: 33px;
  color: @color__242424;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.top {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: @color__primary;
  padding: 2px 8px;
  color: @white;
  border-radius: 3px;
}

.news-view-count {
  margin-left: 25px;
}
