@import "@/shared/styles/variables.less";

.ver-send-button {
  color: @color__primary;
  display: flex;
  align-items: center;
  font-size: @font-size-lg;

  .van-count-down {
    color: @color__primary;
  }

  .ver-countdown-container {
    display: flex;
    align-items: center;
  }

  .get-vercode-button {
    cursor: pointer;
  }

  .mp-statistic-content-suffix,
  .mp-statistic-content-value {
    color: @color__primary;
    font-size: 16px;
  }

  .ver-divider {
    width: 2px;
    background-color: @color__cacaca;
    height: 16px;
    margin-right: 5px;
  }
}
