@import "@/shared/styles/variables.less";

.verification-input {
  border-bottom: 1px solid #e6e6e6;
}

.ver-send-button {
  color: @color__primary;
  display: flex;
  align-items: center;

  .van-count-down {
    color: @color__primary;
  }

  .ver-divider {
    width: 2px;
    background-color: @color_cacaca;
    height: 16px;
    margin-right: 5px;
  }
}
