@import "@/shared/styles/variables.less";

.container {
  width: 100%;
  min-width: 1250px;
  overflow: auto;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.page-breadcrumb {
  padding: 14px 0;

  & > span:last-child {
    color: @color__primary;
  }
}
