.container {
  width: 100%;
  min-width: 1250px;
  overflow: auto;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.page-breadcrumb {
  padding-bottom: 14px;

  & > span:last-child a {
    color: #02a6e3;
  }
}
