@import "@/shared/styles/variables.less";

.container {
  width: 610px;
}

.button {
  margin-top: 40px;
}

.form-info {
  border: 1px solid @color__e6e6e6;
  padding: 9px 30px;
  margin-top: 28px;
}

.tips {
  margin-top: 19px;
}
