@import "@/shared/styles/variables.less";

.block-chain-img {
  color: @white;
  margin: 54px 0;

  img {
    height: 64px;
  }
}

.coin-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
