@import "@/shared/styles/variables.less";

.product-detail-title {
  margin-bottom: 20px;

  :global {
    .chain-icon {
      width: 55px;
      height: 55px;
    }

    .product-name-value {
      font-size: @font-size__20;
      width: 735px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}

.c2c-product-card-wrapper {
  padding-bottom: 0;
}

.person-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.c2c-person-name {
  :global {
    .product-details-mount {
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: @font-size__20;
    }
  }
}

.product-detail-dec-title {
  margin: 28px 0 12px;
}

.product-detail-dec-container {
  margin-bottom: 60px;
}

.product-detail-dec {
  background-color: @white;
  padding: 30px 40px;
}

.rest-c2c-product {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.time-count-down {
  color: @color__1d1d1d;

  :global {
    .mp-statistic-content-value {
      font-size: @font-size__18;
      font-weight: 500;
    }
  }
}

.sale-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: @font-size-base;
  margin-right: 20px;
}

.result-price {
  color: @color__fe6565;
  font-size: @font-size__42;
  padding: 0 6px;
  font-weight: 500;
}
