.glass-square {
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.09);
  filter: blur(2px);
  background-color: #fff;
  opacity: 0.5;
}

.gs-background {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
}
