.download {
  height: 930px;
  background-color: #f5f6f8;
}

.scenario-container {
  position: relative;
  width: 1250px;
  margin: 0 auto;
  padding-top: 142px;
  height: 814px;
  display: flex;
  justify-content: space-between;
}

.main-imgs {
  min-width: 580px;
}

.main-content {
  color: #0e1d34;
  display: flex;
  flex-direction: row-reverse;
  width: 480px;

  & > div {
    width: 472px;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 12px;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }

  .qrcode-container {
    margin-top: 28px;
    height: 344px;
    width: 354px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 40px;
    box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.09);
    position: relative;
    z-index: 10;
  }

  .download-now {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .qrcode {
    padding: 12px;
    background: #fff;
  }

  .version-ios,
  .version-android {
    display: flex;
    margin-top: 18px;
    align-items: center;

    img {
      height: 24px;
      width: 21px;
      margin-right: 8px;
    }
  }
}

.switch {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .switch-item {
    height: 4px;
    width: 36px;
    background-color: #e9e9e9;

    &.switch-item--active {
      background-color: #02a6e3;
    }
  }

  .switch-item + .switch-item {
    margin-left: 12px;
  }
}

.glass {
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.09);
  filter: blur(1.5px);
  background-color: #fbfbfb;
  opacity: 0.5;
}

.lake-blue {
  background-color: #02a6e3;
}

.pomegranate-outlined-square {
  background: transparent;
  border: 10px solid #ff6767;
}

.dot-matrix {
  height: 71px;
  width: 66px;
}

.w-72 {
  width: 72px;
  height: 72px;
}

.w-90 {
  width: 90px;
  height: 90px;
}

.w-108 {
  width: 108px;
  height: 108px;
}

.w-120 {
  width: 120px;
  height: 120px;
}

.w-172 {
  width: 172px;
  height: 172px;
}

.l4-90 {
  width: 90px;
  height: 4px;
}

.scenario--0 {
  padding-top: 134px;

  .main-imgs {
    display: flex;
    align-items: center;
    height: 487px;
    margin-left: 48px;
    z-index: 10;

    .img-1 {
      height: 487px;
      width: 242px;
      z-index: 3;
    }

    .img-2 {
      height: 431px;
      width: 216px;
      margin-left: -50px;
      z-index: 2;
    }

    .img-3 {
      height: 392px;
      width: 196px;
      margin-left: -50px;
      z-index: 1;
    }
  }

  .main-content {
    .text-content img {
      margin-bottom: 44px;
      height: 40px;
    }

    .description {
      font-size: 30px;
      font-weight: 500;
      line-height: 42px;
    }
  }

  .glass-1 {
    position: absolute;
    left: -96px;
    top: 506px;
    z-index: 2;
  }

  .square-1 {
    position: absolute;
    top: 642px;
    left: 48px;
    z-index: 1;
  }

  .square-o-1 {
    position: absolute;
    top: 136px;
    left: 554px;
  }

  .square-2 {
    position: absolute;
    top: 587px;
    right: 70px;
    z-index: 1;
  }

  .matrix-1 {
    position: absolute;
    top: 657px;
    right: 20px;
    z-index: 2;
  }
}

.scenario--1 {
  .main-imgs {
    .img-1 {
      height: 508px;
      width: 249px;
      position: absolute;
      z-index: 6;
      top: 248px;
      left: 212px;
    }

    .img-2 {
      height: 428px;
      width: 210px;
      position: absolute;
      z-index: 5;
      top: 160px;
      left: 68px;
    }

    .img-3 {
      height: 373px;
      width: 183px;
      position: absolute;
      z-index: 5;
      top: 112px;
      left: 390px;
    }

    .img-4 {
      height: 332px;
      width: 281px;
      position: absolute;
      z-index: 6;
      top: 343px;
      left: 196px;
    }
  }

  .square-o-1 {
    position: absolute;
    top: 80px;
    left: -8px;
  }

  .square-1 {
    position: absolute;
    top: 488px;
    right: 424px;
  }

  .matrix-1 {
    position: absolute;
    top: 657px;
    right: 20px;
  }

  .line-1 {
    position: absolute;
    top: 640px;
    right: -42px;
  }
}

.scenario--2 {
  .main-imgs {
    .img-1 {
      height: 491px;
      width: 300px;
      position: absolute;
      z-index: 6;
      top: 117px;
      left: 353px;
    }

    .img-2 {
      height: 481px;
      width: 240px;
      position: absolute;
      z-index: 5;
      top: 111px;
      left: 219px;
    }

    .img-3 {
      height: 497px;
      width: 291px;
      position: absolute;
      z-index: 4;
      top: 111px;
      left: -12px;
    }
  }

  .matrix-1 {
    position: absolute;
    top: 671px;
    left: -91px;
  }

  .line-1 {
    position: absolute;
    top: 614px;
    left: -31px;
  }

  .glass-1 {
    position: absolute;
    top: 547px;
    left: 4px;
  }

  .matrix-2 {
    position: absolute;
    top: 460px;
    right: 450px;
  }

  .square-o-1 {
    position: absolute;
    top: 465px;
    right: 54px;
  }
}

.scenario--3 {
  .main-imgs {
    .img-1 {
      height: 494px;
      width: 123px;
      position: absolute;
      z-index: 6;
      top: 111px;
      left: 48px;
    }

    .img-2 {
      height: 464px;
      width: 193px;
      position: absolute;
      z-index: 5;
      top: 126px;
      left: 201px;
    }

    .img-3 {
      height: 411px;
      width: 205px;
      position: absolute;
      z-index: 4;
      top: 153px;
      left: 410px;
    }
  }

  .square-1 {
    position: absolute;
    top: 97px;
    left: 16px;
  }

  .glass-1 {
    position: absolute;
    top: 525px;
    left: 16px;
  }

  .square-o-1 {
    position: absolute;
    top: 488px;
    right: 425px;
  }

  .matrix-1 {
    position: absolute;
    top: 605px;
    right: 68px;
  }
}
