@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glass-fade-out {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0;
  }
}

@keyframes glass-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes translate-rotate-from-right {
  from {
    transform: translateX(180px) rotate(-90deg);
  }

  to {
    transform: translateX(0) rotate(0);
  }
}

@keyframes translate-rotate-to-left {
  from {
    transform: translateX(0) rotate(0deg);
  }

  to {
    transform: translateX(-180px) rotate(90deg);
  }
}

@keyframes translate-from-right {
  from {
    transform: translateX(180px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes translate-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-180px);
  }
}

@keyframes translate-from-top {
  from {
    transform: translateY(-130px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes translate-to-bottom {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(130px);
  }
}

@keyframes translate-from-top80 {
  from {
    transform: translateY(-80px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate-clockwise7 {
  from {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 120px 980px;
  }

  to {
    opacity: 1;
    transform: rotate(10deg);
    transform-origin: 120px 980px;
  }
}

@keyframes rotate-anticlockwise7 {
  from {
    opacity: 1;
    transform: rotate(0deg);
    transform-origin: 120px 980px;
  }

  to {
    opacity: 1;
    transform: rotate(-10deg);
    transform-origin: 120px 980px;
  }
}
