@import "~@/shared/styles/variables.less";

.page-header {
  width: 100%;
  background-color: @white;
  padding: 16px 20px 18px 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 610px;
  margin: 0 auto;
}

.header-left-content {
  display: flex;
  align-items: center;
}

.page-header-logo {
  height: 34px;
  width: 200px;
}

.page-header-nav {
  display: flex;
  justify-content: flex-end;
  height: 32px;

  & > a {
    margin-left: 30px;
    flex-shrink: 0;

    &:first-child {
      margin-left: 50px;
    }
  }

  :global {
    .router-link-exact-active.router-link-active {
      .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover .nav-link-content {
          color: @color__primary;
        }
      }

      .nav-link-active-mark {
        display: block;
        width: 16px;
        height: 5px;
        margin-top: 3px;
      }

      .nav-link-content {
        color: @color__primary;
      }
    }

    .mark-hidden {
      display: none;
    }

    .nav-link-content {
      line-height: 18px;
      margin: 3px 0;
      color: @color__1d1d1d;
    }
  }
}

.header-right-content {
  display: flex;
}

.page-header-download {
  padding: 2px 15px;
  line-height: 18px;
  height: 24px;
  border-radius: 12px;
}
