@import "@/shared/styles/variables.less";

.p-cell {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #1d1d1d;

  .p-icon {
    width: 13px;
    height: 13px;
    color: @color__primary;
    margin-left: 3px;
  }

  &-unit {
    margin-left: 3px;
  }
}
