@import "@/shared/styles/variables.less";

.nav-menu-trigger {
  color: @color__1d1d1d;
  display: flex;

  .spotecicon {
    width: 16px;
    height: 14px;
    margin: 6px 2px 0;
    padding: 0 1px;
    transform: rotate(90deg);
  }

  &.mp-dropdown-open {
    color: @color__primary;

    .spotecicon {
      transform: rotate(-90deg);
    }
  }

  .nav-menu-trigger-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    span {
      margin: 3px 0;
      line-height: 18px;
    }
  }

  .nav-link-active-mark {
    width: 16px;
    height: 5px;
    margin-top: 3px;
  }

  &--active {
    color: @color__primary;
  }
}
