@import '@/shared/styles/variables.less';

.container {
  width: 610px;

  :global {
    .form-container {
      padding-top: 20px;
    }
  }
}

.pay-prompt {
  margin: 19px 0 14px;
}

.form-container-wrap {
  margin: 31px 0 20px;
}

.pay-way-wrap {
  margin-bottom: 20px;
}
