@import '@/shared/styles/variables.less';

.container {
  width: 610px;

  :global {
    .form-container {
      padding-top: 20px;
    }

    .mp-statistic {
      height: 44px;
      padding: 11px 12px;
      border: 1px solid @color__d9d9d9;
    }
  }
}

.pay-prompt {
  margin: 19px 0 14px;
}

.form-container-wrap {
  margin: 31px 0 20px;
}

.pay-way-wrap {
  margin-bottom: 20px;
}
