@import "@/shared/styles/variables.less";

.error-alert {
  border: 1px solid @color__fe6565;
  background-color: rgba(254, 101, 101, 0.07);
  padding: 16px 30px;
  display: flex;
  align-items: center;
  color: @color__fe6565;

  .spotecicon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
}
