@import "~@/shared/styles/variables.less";

.page-header {
  width: 100%;
  background-color: @color__ffffff;
  padding: 16px 0 18px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  min-width: 600px;
  margin: 0 auto;
}

.page-header-logo {
  height: 34px;
}

.page-header-nav {
  display: flex;
  justify-content: flex-end;
  height: 32px;

  & > * {
    margin-left: 30px;
  }
}

.page-header-download {
  padding: 2px 15px;
  line-height: 18px;
  height: 24px;
  border-radius: 12px;
}
