@import '@/shared/styles/variables.less';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @white;
}

.download-description {
  position: absolute;
  top: 0;
  bottom: 0;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.absolute-auto-description {
  top: auto;
}

.fixed-description {
  position: fixed;
  top: 70px;
  bottom: 0;
  z-index: @z-index__2;
}

.download-title {
  color: @white;
  font-size: @font-size__40;
  font-weight: 500;
  line-height: 56px;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.download-logo {
  width: 84px;
  height: 84px;
  margin-right: 25px;
  border-radius: 17px;
  box-shadow: 0 0 17px 0 #02a6e3;
}

.download-sub-title {
  color: @white;
  font-size: @font-size__28;
  font-weight: 500;
  line-height: 40px;
}

.effect-box {
  margin: 39px 0 47px;
  color: @white;
  font-size: @font-size__20;
}

.groupe-item {
  max-height: 0;
  overflow: hidden;
  opacity: 1;
}

.fade-item {
  opacity: 0;
  max-height: 0;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  max-height: 100%;
  animation-name: fadeOutUp;
  animation-duration: 0.6s;
  position: absolute;
  top: 386px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  max-height: 100%;
  animation-name: fadeInUp;
  animation-duration: 0.6s;
}

.effect-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;

  &::before {
    display: block;
    content: "";
    margin-right: 6px;
    border-radius: 50%;
    background-color: @color__primary;
    width: 6px;
    height: 6px;
  }
}

.qr-code {
  width: 147px;
  height: 147px;
  padding: 8px;
  background-color: @white;
  margin-right: 34px;
}

.video-group {
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-item {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.circle {
  position: relative;
}

.download-phone {
  position: absolute;
  top: -66px;
  left: 10px;
  z-index: @z-index__2;
  width: 528px;
}

.download-enter-box {
  display: flex;
}

.version-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.version-item {
  display: flex;
  align-items: center;
  border: 1px solid  @white;
  padding: 18px 40px;

  > img {
    width: 22px;
    margin-right: 8px;
  }
}

.dot-triangle-icon {
  width: 1200px;
  position: absolute;
  z-index: @z-index__-1;
  bottom: 0;
}
