@import "@/shared/styles/variables.less";

.count-down-dialog {
  width: 270px;
  padding: 0 20px 16px;
}

.count-down-confirm-btn {
  height: 36px;
}

.count-down-mention {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 26px 0 24px;
}

.count-down-img {
  width: 170px;
  height: 130px;
}

.count-down-mention-content {
  max-width: 192px;
  color: @color__242424;
  font-size: @font-size-base;
  text-align: center;
  padding-top: 6px;
}

.count-down-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: @font-size__15;
  color: @color__494949;
  padding: 7px 0 11px;

  > span {
    white-space: nowrap;
  }
}

.count-down-clock {
  .mp-statistic-content-value {
    color: @color__primary;
    padding-right: 3px;
    font-size: @font-size__15;
  }
}
