.detail-wrapper {
  padding: 54px 0 128px 166px;
  min-height: calc(100vh - 471px);
}

.detail-top {
  display: flex;
  align-items: center;
  text-align: left;
}

.back-icon {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;
}

.detail-date {
  font-size: 14px;
  line-height: 20px;
  color: #959595;
}

.detail-title {
  font-size: 38px;
  line-height: 53px;
  color: #242424;
}

.detail-content {
  width: 760px;
  margin: 38px 54px;
}
