@import "@/shared/styles/variables.less";

.mp-select {
  .mp-select-selection {
    height: 38px;
  }

  .mp-select-selection__rendered {
    line-height: 36px;
  }

  .select-icon {
    color: @color__primary;
    width: 8px;
    height: 8px;
  }
}
