@import "@/shared/styles/variables.less";

.action-box {
  display: flex;
  justify-content: space-around;
  color: @color__primary;
}

.action {
  cursor: pointer;
}

.modal-text {
  padding-top: 20px;
  text-align: center;
  color: @color__242424;
}

.tooltip-box {
  display: flex;
  justify-content: center;
}

.tooltip-name {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
