@import '@/shared/styles/variables.less';

.wrapper {
  padding: 20px 40px 33px;
}

.user-info-wrap {
  display: inline-block;
  width: 132px;
}

.user-info-box {
  display: flex;
  align-items: center;
  font-size: @font-size-sm;
  font-weight: 500;
  color: @color__242424;
}

.user-avatar {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: left;

  > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.reward-box {
  font-size: @font-size-lg;
  line-height: 22px;
  color: @color__242424;
  font-weight: 500;
}

.select-wrap {
  text-align: left;
  margin-bottom: 12px;

  :global {
    .mp-select {
      width: 218px;
    }

    .mp-select-selection {
      background-color: @color__f7f8fc;
    }
  }
}
