@import '@/shared/styles/variables.less';

.wrapper {
  position: relative;
  height: 602px;
  text-align: center;
  background-color: transparent;
}

.container {
  height: 100%;
  background-image: url('~assets/home/hashrate-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 220px 46px 35px;
}

.name {
  margin: 0 auto;
  width: 168px;
  font-size: @font-size__17;
  line-height: 24px;
  color: @color__92291a;
  height: 48px;
}

.amount {
  font-size: @font-size__60;
  line-height: 84px;
  color: @color__f05c47;
}

.validity {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 33px 33px 33px 1px;
  background: linear-gradient(225deg, @color__f47c63 0%, @color__ef5a48 100%);
  margin-left: 4.5px;
  transform: translateY(-11px);
  color: @white;
  font-size: @font-size__15;
  line-height: 21px;
  font-weight: 500;
}

.hashrate-type {
  font-size: @font-size-base;
  line-height: 20px;
  color: @color__92291a;
  margin-bottom: 44px;
}

.view-now {
  display: inline-block;
  width: 176px;
  font-size: @font-size__18;
  line-height: 44px;
  color: @white;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
}

.tag {
  position: absolute;
  top: 140px;
  right: 95px;
  width: 302px;
  height: 50px;
  font-size: @font-size__17;
  line-height: 50px;
  color: @color__efe5e3;
  transform: rotateZ(15deg);
}
