.output {
  display: inline-flex;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 16px 38px;
  margin: 20px 0;
}

.output-item {
  margin-right: 52px;
  color: #242424;

  &-label {
    font-size: 12px;
    margin-bottom: 2px;
  }

  &-value {
    font-weight: 500;
    font-size: 18px;

    &-unit {
      margin-left: 3px;
    }
  }
}
