@import "@/shared/styles/variables.less";

.cooperation-container {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 175px;
  flex-direction: column;
  align-items: center;

  .cooperation-left-icon {
    position: absolute;
    bottom: -70px;
    left: -55px;
  }
}

.cooperation-company-container {
  position: relative;
  width: 835px;

  .cooperation-title-image {
    img {
      height: 64px;
    }
  }

  .cooperation-introduce {
    border-top: 2px solid @color__ffd100;
    padding-top: 9px;
    font-size: @font-size-lg;
    color: @color__2a2a2a;
    line-height: 30px;
  }
}
