@import "@/shared/styles/variables.less";

.primary-button {
  background: linear-gradient(225deg, @color__primary 0%, @color__00c9c4 100%);
  width: 100%;
  border-radius: 8px;
  height: 40px;
  font-size: @font-size-lg;

  &:hover,
  &:focus {
    background: linear-gradient(225deg, @color__primary 0%, @color__00c9c4 100%);
  }
}
