@import "@/shared/styles/variables.less";

.operate-btn-wrapper {
  .disabled-btn {
    background-color: @color__cacaca;
    color: @white;
  }
}

.new-user-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, @color__f6c65c 0%, @color__ea9c1f 100%);

  &:focus-visible {
    outline: none;
  }
}

.new-user-text {
  color: @white;
  font-size: @font-size__28;
}

.new-user-count {
  color: @color__613500;

  .mp-statistic-content {
    font-size: @font-size-sm;
  }
}

.look-forward-btn {
  background-color: @color__cacaca;

  &:hover {
    cursor: not-allowed;
    background-color: @color__d8d8d8;
  }
}

.look-forward-count {
  color: @color__242424;
  font-size: @font-size-sm;
}

.normal-buy-btn {
  width: 232px;
  height: 95px;
}

.all-btn-size {
  height: 100%;
  width: 232px;
  border: none;
  font-size: @font-size__28;
}
