.news-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 1px solid #182742;
  cursor: pointer;
}

.image-wrapper {
  width: 380px;
  height: 189px;
  overflow: hidden;
  border-radius: 10px;
}

.news-image {
  width: 380px;
  transform: translateY(-47px);
}

.news-date {
  font-size: 14px;
  line-height: 20px;
  color: #959595;
  margin: 10px 0 11px;
}

.news-title {
  font-size: 24px;
  line-height: 33px;
  color: #242424;
  margin-bottom: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
