@import '@/shared/styles/variables.less';

.form-container {
  border: 1px solid @color__e6e6e6;
  padding: 9px 30px;
  margin-top: 28px;
}

.form-container-has-title {
  margin-top: 10px;
}

.form-container-title {
  font-size: @font-size__20;
  line-height: 28px;
  color: @color__1d1d1d;
  font-weight: 500;
}
