@import '@/shared/styles/variables.less';

.cooperation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cooperation-company-container {
  position: relative;
  width: 100%;
}

.cooperation-title-image {
  img {
    height: 64px;
  }
}

.cooperation-introduce {
  width: 835px;
  border-top: 2px solid @color__ffd100;
  padding-top: 9px;
  font-size: @font-size-lg;
  color: @color__2a2a2a;
  line-height: 30px;
}
