@import "@/shared/styles/variables.less";

.background-container {
  height: 435px;
  background: url("~assets/ecosphere/ecosphere-banner.png") no-repeat top;
  background-size: auto 398px;
}

.top-content {
  position: relative;
}

.banner-fonts {
  position: absolute;
  top: 78px;
  left: 0;
  width: 497px;
}

.scan-download {
  position: absolute;
  top: 230px;
  width: 375px;
  height: 168px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qrcode {
  padding-left: 32px;
  padding-right: 48px;
  width: 204px;
}

.apple-download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #0e1d34;

  img {
    width: 21px;
    height: 24px;
    margin-right: 8px;
  }
}

.android-download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  color: #0e1d34;

  img {
    width: 22px;
    height: 24px;
    margin-right: 8px;
  }
}

.download-right-now {
  color: #02a6e3;
  font-size: 20px;
  line-height: 28px;
  padding-top: 26px;
}
