@import "@/shared/styles/variables.less";

.product-brief-cell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  background-color: @white;
  box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 26px;
}

.product-title-intro {
  min-width: 360px;
  border-right: 3px dotted @color__c3c3c3;
}

.product-card-title {
  margin-bottom: 18px;
}

.market-part-wrapper {
  .info-survey-value {
    color: @color__fe6565;
  }
}

.product-info-intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.product-rest-intro {
  min-width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-rest {
  margin-bottom: 12px;

  .line-progress-info {
    margin-bottom: -5px;
  }
}

.product-buy-button {
  width: 85px;
  height: 28px;
}

.sale-out-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  height: 76px;
}
