@import "@/shared/styles/variables.less";

.rest-c2c-product-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-rest {
  margin-bottom: 12px;

  .line-progress-info {
    margin-bottom: -5px;
  }
}

.product-buy-button {
  width: 85px;
  height: 28px;
}
