@import "@/shared/styles/variables.less";

.color-red {
  color: @color__fe6565;
}

.hashrate-coupons-box {
  :global {
    .mp-table-wrapper {
      padding-bottom: 80px;
    }
  }
}

.gray-row {
  :global {
    .mp-table-row-cell-ellipsis,
    .mp-table-row-cell-break-word {
      color: @color__939393 !important;
      background: @color__f4f4f4;
    }
  }
}

.hashrate-status-select {
  width: 218px;
  margin: 20px 0;
}

.tooltip-box {
  display: flex;
  justify-content: center;
}

.tooltip-name {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status-box {
  display: flex;
  align-items: center;
  justify-content: center;

  :global {
    .spotecicon {
      width: 17px;
      height: 17px;
      margin-left: 2px;
      color: @color__fe6565;
    }
  }
}
