@import '@/shared/styles/variables.less';

.news-wrapper {
  display: block;
  width: 760px;
  text-align: left;
  border-bottom: 1px solid @color__182742;
  margin-top: 25px;
  cursor: pointer;
}

.news-date {
  display: flex;
  font-size: @font-size-base;
  line-height: 20px;
  color: @color__959595;

  > span:first-child {
    margin-right: 30px;
  }
}

.news-title {
  font-size: @font-size__24;
  color: @color__242424;
  margin: 10px 0;
}
