@import '@/shared/styles/variables.less';

.question-wrapper {
  display: block;
  color: @color__182742;
}

.question-item-wrap {
  display: flex;
  justify-content: space-between;
  width: 448px;
  border-bottom: 1px solid @color__d8d8d8;
  padding-bottom: 20px;

  > span:last-child {
    font-size: @font-size-base;
    line-height: 20px;
    color: @color__cacaca;
    flex-shrink: 0;
    margin-left: 4px;
  }
}

.question-item {
  position: relative;
  display: block;
  font-size: @font-size-lg;
  line-height: 22px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 10px;

  mark {
    color: @color__primary;
    background: transparent;
  }
}

.question-item::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid @color__primary;
  background-color: @color__primary;
  content: '';
}
