@import '@/shared/styles/variables.less';

.container-wrap {
  background-color: @color__0e1d34;
  height: 435px;
  padding-top: 52px;
  overflow: visible;
}

.content {
  background-color: @white;
  border-bottom: 1px solid transparent;
}

.wrapper {
  padding: 57px 150px 114px;
  font-size: @font-size-base;
  line-height: 26px;
  text-align: left;
  border: 1px solid @color__ddd;
  margin-bottom: 79px;
}

.app-icon-box {
  height: 82px;
  text-align: center;
}

.app-icon {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

.protocol-name {
  font-size: @font-size__22;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
}

.protocol-desc {
  font-size: @font-size__18;
  line-height: 30px;
  font-weight: 500;
  margin: 43px 0 40px;
}

.protocol-title-box {
  text-align: center;
  margin: 60px 0;
}

.protocol-title {
  display: inline-block;
  color: @color__285a83;
  font-size: @font-size__22;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  padding: 6px 94px;
  border-bottom: 2px solid @color__primary;
}

.item-gap {
  margin-top: 12px;
}

.sub-title {
  font-size: @font-size__22;
  line-height: 30px;
  font-weight: 500;
}

.sub-item-gap > div {
  margin-top: 10px;
}

.sub-item-gap > div:last-child {
  margin-bottom: 32px;
}
