@import "@/shared/styles/variables.less";

.item-wrapper {
  color: @black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    color: @color__primary;
  }
}

.culture-img {
  width: 39px;
  height: 39px;
}

.culture-title {
  font-size: @font-size__22;
  font-weight: 500;
  line-height: 50px;
  padding: 10px 0 6px 0;
}

.culture-description {
  font-size: @font-size__18;
  line-height: 25px;
  max-width: 330px;
  opacity: 0.8;
}
