@import "@/shared/styles/variables.less";

.rest-mount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @color__8598bb;
  border-radius: 10px;
}

.rest-mount-progress {
  border-right: 1px solid @color__9badce;
  padding: 7px 25px;
}

.rest-mount-data-details {
  color: @white;
  padding: 7px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: @font-size-sm;
}

.rest-mount-count {
  font-size: @font-size__24;
  line-height: 33px;
}

.circle-progress-format {
  font-size: @font-size__20;
  color: @white;
  font-weight: 500;
}

.percentage-percent-sign {
  color: @color__acbcd8;
  font-size: @font-size-sm;
}
