@import '@/shared/styles/variables.less';

.qr-code {
  margin-right: 8px;
  width: 22px;
}

.banner-phone {
  position: absolute;
  z-index: 1;
  height: 359px;
  right: 0;
  bottom: -234px;
}

.download-wrap {
  height: 852px;
  background-image: url('~@/assets/home/download-background.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
