@import "@/shared/styles/variables.less";

.banner-container {
  height: 474px;
  background: url("~assets/home-banner.png") no-repeat top;
  background-size: auto 398px;
}

.banner-content {
  position: relative;
}

.banner-text {
  margin-top: 67px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
}

.download-button {
  position: relative;
  top: 84px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
}

.qr-code {
  margin-right: 8px;
  width: 22px;
}

.banner-phone {
  position: absolute;
  z-index: 1;
  height: 359px;
  right: 0;
  bottom: -234px;
}
