@import '@/shared/styles/variables.less';

.qr-code {
  margin-right: 8px;
  width: 22px;
}

.banner-phone {
  position: absolute;
  z-index: 1;
  height: 359px;
  right: 0;
  bottom: -234px;
}

.download-wrap {
  position: relative;
  overflow: hidden;
  min-height: calc(400vh - 280px);
  background-color: @color__0e1d34;
}

.chain-data-wrap {
  position: relative;
  width: 100%;

  :global {
    .container {
      overflow: hidden;
    }
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: @z-index__-1;
    width: 100%;
    height: 770px;
    background-image: url('~@/assets/home/pool-data-bg.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
