@import "@/shared/styles/variables.less";

.hashrate-type-select {
  width: 218px;
  margin-top: 30px;
  margin-bottom: 20px;

  :global {
    .mp-select-selection {
      background-color: @color__f7f8fc;
    }
  }
}
