@import "@/shared/styles/variables.less";

.ledgerTag {
  width: 20px;

  .success {
    color: @color__11bc29;
  }

  .progressing {
    color: @color__f1b617;
  }

  .fail {
    color: @color__fe6565;
  }
}
