.wrapper {
  position: relative;
  min-height: calc(100vh - 471px);
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 366px;
  background: url("~@/assets/help/banner-background.png") no-repeat top;
  background-size: auto 366px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 91px 0 133px 0;
  height: 366px;
  background-color: transparent;

  .search-button {
    width: 140px;
    height: 39px;
    background-color: #02a6e3;
    color: #fff;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    border-radius: 19.5px;
    cursor: pointer;
  }
}

.banner-text-img {
  width: 343px;
  margin-bottom: 44px;
}

.search-input {
  width: 575px;
  height: 54px;
}

/deep/ .mp-input {
  height: 100%;
  border-radius: 30px;
  padding-left: 33px;
  padding-right: 7px;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  border: 0;
  outline: none;
}

/deep/ .mp-input:hover {
  border: 0;
}

/deep/ .mp-input:focus {
  box-shadow: none;
}

.question-result-box {
  position: relative;
}

.question {
  text-align: center;
  padding: 38px 0 38px 132px;
}

.question-top {
  display: flex;
  align-items: flex-end;
}

.question-top-img {
  width: 302px;
  height: 63px;
}

.question-top-text {
  font-size: 24px;
  line-height: 33px;
  color: #0e1d34;
  margin-bottom: 5px;
  margin-left: 6px;
}

.question-content {
  width: 936px;
  padding-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > a {
    margin-bottom: 20px;
  }
}

.search-result {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 44px 0 0 284px;
}

.search-result-top {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.back-icon {
  width: 34px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;
}

.result-box {
  padding-left: 92px;
  text-align: left;

  & > a {
    margin-bottom: 20px;
  }
}

.result-number {
  color: #02a6e3;
}

.no-result {
  padding: 45px 0 0 248px;

  & > img {
    width: 81px;
    height: 82px;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  opacity: 1;
  animation-name: fadeInRight;
  animation-duration: 0.6s;
  z-index: 99;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
}

.fadeOutUp {
  opacity: 0;
  animation-name: fadeOutUp;
  animation-duration: 0.6s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.6s;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }
}

.fadeOutRight {
  opacity: 0;
  animation-name: fadeOutRight;
  animation-duration: 0.6s;
}
