@import "@/shared/styles/variables.less";

.more {
  color: @color__primary;
  font-weight: 500;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  :global {
    .spotecicon {
      width: 12px;
      height: 12px;
    }
  }
}

.more-cursor {
  cursor: pointer;
}
