@import '@/shared/styles/variables.less';

.video-item {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  background-image: url('~@/assets/home/video-item-bg.png');
  background-size: contain;
  background-position: 50%;
  background-position: 0 50%;
  width: 500px;
  background-repeat: no-repeat;
}

.circle {
  position: relative;
}

.line-circle {
  width: 152px;
  height: 152px;
  position: absolute;
  z-index: @z-index__2;
}

.dot-circle {
  width: 88px;
  height: 88px;
  position: absolute;
  z-index: @z-index__5;
}

.download-background {
  position: absolute;
  z-index: @z-index__2;
  -webkit-backface-visibility: hidden;
}

.half-circle-wrapper {
  .line-circle {
    bottom: 170px;
    left: 15px;
  }

  .dot-circle {
    top: 100px;
    left: 401px;
  }

  .download-background {
    width: 498px;
    bottom: -40px;
  }
}

.triangle-wrapper {
  .line-circle {
    top: -355px;
    left: 300px;
  }

  .dot-circle {
    bottom: -295px;
    left: 70px;
  }

  .download-background {
    width: 440px;
    left: 30px;
    bottom: -60px;
  }
}

.square-wrapper {
  .line-circle {
    bottom: -280px;
  }

  .dot-circle {
    bottom: -300px;
    left: 345px;
  }

  .download-background {
    width: 355px;
    left: 65px;
    bottom: -80px;
  }
}

.circle-wrapper {
  .line-circle {
    bottom: -305px;
    left: 320px;
  }

  .dot-circle {
    bottom: -80px;
    left: 60px;
  }

  .download-background {
    width: 352px;
    left: 70px;
    bottom: -160px;
  }
}

.download-phone {
  position: absolute;
  left: 40px;
  z-index: @z-index__4;
  width: 445px;
  transform: translateY(-45%);
}

.download-enter-box {
  display: flex;
}

.version-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.version-item {
  display: flex;
  align-items: center;
  border: 1px solid  @white;
  padding: 18px 40px;

  > img {
    width: 22px;
    margin-right: 8px;
  }
}

.purchase-video {
  width: 235px;
  position: absolute;
  left: 133px;
  z-index: @z-index__3;
  top: 10px;
  transform: translateY(-50%) translateX(-8px);
}
