@import "@/shared/styles/variables.less";

.product-info-survey-wrapper {
  padding: 6px 3px;
  color: @color__242424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.info-survey-name {
  font-size: @font-size-sm;
}

.info-survey-value {
  font-size: @font-size__20;
  padding: 6px 0;
  font-weight: 500;
}

.info-survey-unit {
  font-size: @font-size-base;
  font-weight: 500;
}
