@import "@/shared/styles/variables.less";

.pre-sale-tag {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, @color__f5c575, @color__fde0a6);
  color: @color__613500;
  font-size: @font-size-sm;
  padding-right: 6px;

  .pre-sale-tag-img {
    width: 23px;
    height: 23px;
  }

  .new-customer-span {
    padding: 0 3px;
  }
}
