@import "@/shared/styles/variables.less";

.rest-official-product-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sale-rest {
  margin-bottom: 12px;

  .line-progress-info {
    margin-bottom: -5px;
  }
}

.product-buy-button {
  width: 85px;
  height: 28px;
}

.sale-out-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  height: 76px;
}
