@import "@/shared/styles/variables.less";

.new-customer-tag {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, @color_f5c575, @color_fde0a6);
  color: @color_613500;
  font-size: @font-size-sm;
  padding-right: 6px;

  .new-customer-img {
    width: 23px;
    height: 23px;
  }
}
