@import "@/shared/styles/variables.less";

.hashRate-ecosphere-container {
  padding: 0 58px 50px 53px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 419px;

  .ecosphere-dots-icon {
    position: absolute;
    top: 176px;
    left: -76px;
  }

  .ecosphere-right-dots-icon {
    position: absolute;
    top: 152px;
    right: -194px;
  }

  /deep/ .ecosphere-title-img {
    img {
      width: 356px;
    }
  }

  .ecosphere-intro {
    width: 660px;
    font-size: @font-size-lg;
    line-height: 30px;
    color: @color__0e1d34;
  }

  .ecosphere-advantage {
    display: flex;
    width: 660px;
    justify-content: space-between;
    padding-top: 40px;
  }

  .ecosphere-advantage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: @font-size-lg;
    line-height: 22px;
    border-radius: 27px;
    width: 180px;
    height: 182px;
    color: @color__242424;
    box-shadow: 0 7px 19px 0 rgba(111, 126, 144, 0.19);

    img {
      width: 78px;
      margin-bottom: 21px;
    }
  }
}

.ecosphere-container-left {
  width: 359px;
  height: 419px;
  margin-right: 94px;
}
