@import "@/shared/styles/variables.less";

.marketing-banner-container {
  background-image: url('~@/assets/productMarket/marketingBanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 289px;
  position: relative;
}

.banner-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.marketing-banner-title {
  font-size: @font-size__42;
  line-height: 59px;
  color: @white;
}

.marketing-banner-content {
  color: @white;
  font-size: @font-size__18;
  line-height: 25px;
}
