.mine-data-container {
  padding-top: 175px;

  .mine-data-title-image {
    display: flex;

    img {
      width: 288px;
    }

    span {
      top: 23px;
    }
  }

  .coin-data-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 29px;
    padding-bottom: 120px;
  }
}
