@import "@/shared/styles/variables.less";

.market-new-buy-container {
  border-radius: 14px;
  background-color: @white;
  color: @color__242424;
  font-size: @font-size-base;
  box-sizing: border-box;
}

.new-buy-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;
}

.new-buy-buff-img {
  width: 105px;
  padding-bottom: 7px;
}

.day-rate {
  display: flex;
  justify-content: space-between;
  background-color: @color__f9f9f9;
  font-size: @font-size-base;
  line-height: 20px;
  padding: 4px 8px;

  .market-new-buy-day {
    color: @color__8b8b8b;
    padding-left: 3px;
  }
}

.white-day-rate {
  background-color: @white;
}

.new-buy-mention-content {
  padding: 16px 0 21px 4px;
  font-size: @font-size-sm;
  color: @color__fe6565;
}
