@import '@/shared/styles/variables.less';

.notification-error {
  display: flex;

  .spotecicon {
    width: 22px;
    height: 22px;
    color: @color__fe6565;
  }

  &-value {
    max-width: 273px;
    word-break: break-word;
    word-wrap: break-word;
  }
}
