@import "~@/shared/styles/variables.less";

.page-footer {
  width: 100%;
  min-width: 1250px;
  background-color: @color__0e1d34;
}

.page-footer-container {
  width: 1250px;
  margin: 0 auto;
  padding: 76px 0 100px;
  display: flex;
}

.page-footer-subject {
  margin-left: 20px;
}

.page-footer-vision {
  height: 92px;
  margin-bottom: 28px;
}

.page-footer-social {
  width: 468px;
  padding-top: 24px;
  font-size: @font-size-lg;
  line-height: 22px;
  color: @color__ffffff;
  border-top: 1px solid @color__ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-footer-social-content {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.page-footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: @color__ffffff;
  border: 1px solid @color__ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #8fadd9;
    border: 1px solid #8fadd9;
  }

  .spotecicon {
    width: 20px;
    height: 20px;
  }
}

.page-footer-email {
  font-size: 14px;
  color: @color__ffffff;
  text-decoration: underline;

  &:hover {
    color: #8fadd9;
    text-decoration: underline;
  }
}

.page-footer-project {
  font-size: 28px;
  line-height: 40px;
  color: @color__ffffff;
}

.page-footer-navs {
  margin-left: 158px;
  display: flex;

  & > div {
    margin-right: 110px;
  }

  & > div:last-child {
    margin-right: 0;
  }
}

.page-footer-nav-category {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: @color__ffffff;
}

.page-footer-nav-item {
  display: block;
  font-size: @font-size-lg;
  line-height: 22px;
  font-weight: 500;
  color: @color__8fadd9;
}

.page-footer-nav-category,
.page-footer-nav-item {
  margin-bottom: 22px;
  white-space: nowrap;
}
