@import "@/shared/styles/variables.less";

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal-text-link {
  color: @color__primary;
  text-decoration: underline;
  cursor: pointer;
}

.page-mid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 431px);
}
