.spotecicon {
  display: inline-block;
  width: 16px;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spotecicon > * {
  line-height: 1;
}

.spotecicon svg {
  display: inline-block;
}

.spotecicon::before {
  display: none;
}

.spotecicon .spotecicon-icon {
  display: block;
}

.spotecicon[tabindex] {
  cursor: pointer;
}
