@white: #fff;
@black: #000;
@color__primary: #02a6e3;

@color__1d1d1d: #1d1d1d;
@color__8b8b8b: #8b8b8b;
@color__0e1d34: #0e1d34;
@color__8fadd9: #8fadd9;
@color__3093ea: #3093ea;
@color__285a83: #285a83;
@color__cacaca: #cacaca;
@color__00c9c4: #00c9c4;
@color__fe6565: #fe6565;
@color__939393: #939393;
@color__242424: #242424;
@color__dfe2e7: #dfe2e7;
@color__263241: #263241;
@color__9aa5b5: #9aa5b5;
@color__8598bb: #8598bb;
@color__232323: #232323;
@color__d8d8d8: #d8d8d8;
@color__efefef: #efefef;
@color__969696: #969696;
@color__c0c0c0: #c0c0c0;
@color__f89e30: #f89e30;
@color__343b5b: #343b5b;
@color__c3c3c3: #c3c3c3;
@color__f8f8f8: #f8f8f8;
@color__f5c575: #f5c575;
@color__fde0a6: #fde0a6;
@color__613500: #613500;
@color__494949: #494949;
@color__e6e6e6: #e6e6e6;
@color__f7f8fc: #f7f8fc;
@color__182742: #182742;
@color__f0f0f0: #f0f0f0;
@color__9eacc6: #9eacc6;
@color__ffd100: #ffd100;
@color__f3f3f3: #f3f3f3;
@color__f9f9f9: #f9f9f9;
@color__262626: #262626;
@color__a1a1a1: #a1a1a1;
@color__dde5f3: #dde5f3;
@color__f4f4f4: #f4f4f4;
@color__d9d9d9: #d9d9d9;
@color__f5222d: #f5222d;
@color__434343: #434343;
@color__979797: #979797;
@color__1ba27a: #1ba27a;
@color__c4a261: #c4a261;
@color__bdcbdd: #bdcbdd;
@color__e2bd77: #e2bd77;
@color__11bc29: #11bc29;
@color__edf0f2: #edf0f2;
@color__f6c65c: #f6c65c;
@color__ea9c1f: #ea9c1f;
@color__9badce: #9badce;
@color__acbcd8: #acbcd8;
@color__666: #666;
@color__ccc: #ccc;
@color__f1f2f3: #f1f2f3;
@color__2b314f: #2b314f;
@color__f5f6f9: #f5f6f9;
@color__d3dbea: #d3dbea;
@color__c3d1ee: #c3d1ee;
@color__7192d3: #7192d3;
@color__ddd: #ddd;
@color__f1f1f1: #f1f1f1;
@color__ababab: #ababab;
@color__756767: #756767;
@color__92291a: #92291a;
@color__f05c47: #f05c47;
@color__f47c63: #f47c63;
@color__ef5a48: #ef5a48;
@color__efe5e3: #efe5e3;
@color__b2b2b2: #b2b2b2;
@color__959595: #959595;
@color__dfdfdf: #dfdfdf;
@color__2a2a2a: #2a2a2a;
@color__f9f9f9: #f9f9f9;
@color__00c9c4: #00c9c4;
@color__40c3f3: #40c3f3;
@color__01d0aa: #01d0aa;

@font-size-sm: 12px;
@font-size__13: 13px;
@font-size-base: 14px;
@font-size__15: 15px;
@font-size-lg: 16px;
@font-size__17: 17px;
@font-size__18: 18px;
@font-size__19: 19px;
@font-size__20: 20px;
@font-size__22: 22px;
@font-size__23: 23px;
@font-size__24: 24px;
@font-size__26: 26px;
@font-size__28: 28px;
@font-size__30: 30px;
@font-size__32: 32px;
@font-size__34: 34px;
@font-size__38: 38px;
@font-size__40: 40px;
@font-size__42: 42px;
@font-size__43: 43px;
@font-size__60: 60px;
@font-size-18: 18px;
@font-size__54: 54px;

// z-index
@z-index__99: 99;
@z-index__1: 1;
