@white: #fff;
@color__primary: #02a6e3;

@color__1d1d1d: #1d1d1d;
@color__8b8b8b: #8b8b8b;
@color__0e1d34: #0e1d34;
@color__8fadd9: #8fadd9;
@color__285a83: #285a83;
@color_cacaca: #cacaca;

@font-size-sm: 12px;
@font-size__13: 13px;
@font-size-base: 14px;
@font-size__15: 15px;
@font-size-lg: 16px;
@font-size__17: 17px;
@font-size__18: 18px;
@font-size__19: 19px;
@font-size__20: 20px;
@font-size__22: 22px;
@font-size__23: 23px;
@font-size__26: 26px;
@font-size__28: 28px;
@font-size__30: 30px;
@font-size__32: 32px;
@font-size__34: 34px;
@font-size__43: 43px;
