@white: #fff;
@color__primary: #02a6e3;

@color__1d1d1d: #1d1d1d;
@color__8b8b8b: #8b8b8b;
@color__0e1d34: #0e1d34;
@color__8fadd9: #8fadd9;
@color__285a83: #285a83;
@color__cacaca: #cacaca;
@color__00c9c4: #00c9c4;
@color__fe6565: #fe6565;
@color__939393: #939393;
@color__242424: #242424;
@color__dfe2e7: #dfe2e7;
@color__263241: #263241;
@color__9aa5b5: #9aa5b5;
@color__8598bb: #8598bb;
@color__232323: #232323;
@color__d8d8d8: #d8d8d8;
@color__efefef: #efefef;
@color__969696: #969696;
@color__c0c0c0: #c0c0c0;
@color__f89e30: #f89e30;
@color__343b5b: #343b5b;
@color__c3c3c3: #c3c3c3;
@color__f8f8f8: #f8f8f8;
@color__f5c575: #f5c575;
@color__fde0a6: #fde0a6;
@color__613500: #613500;
@color__494949: #494949;
@color__e6e6e6: #e6e6e6;
@color__f7f8fc: #f7f8fc;

@font-size-sm: 12px;
@font-size__13: 13px;
@font-size-base: 14px;
@font-size__15: 15px;
@font-size-lg: 16px;
@font-size__17: 17px;
@font-size__18: 18px;
@font-size__19: 19px;
@font-size__20: 20px;
@font-size__22: 22px;
@font-size__23: 23px;
@font-size__26: 26px;
@font-size__28: 28px;
@font-size__30: 30px;
@font-size__32: 32px;
@font-size__34: 34px;
@font-size__43: 43px;
@font-size-18: 18px;
