@import "@/shared/styles/variables.less";

.color-red {
  color: @color__fe6565;
}

.user-verified-img {
  text-align: center;
  margin-top: 29px;

  img {
    width: 108px;
    min-height: 108px;
  }
}

.user-verified-content {
  color: @color__242424;
  font-weight: 500;
  line-height: 20px;
  margin-top: 24px;
  text-align: center;
  white-space: pre-wrap;
}

.button-group {
  padding: 30px;
}

.trade-before-verified {
  height: 100%;
}

.verified-countdown {
  .mp-statistic-content {
    text-align: center;
    position: relative;
    top: -25px;
  }

  .mp-statistic-content-value,
  .mp-statistic-content-suffix {
    color: @color__494949;
    font-size: @font-size-sm;
    line-height: 17px;
  }
}
