@import "@/shared/styles/variables.less";

.color-red {
  color: @color_fe6565;
}

.user-verified-wrapper {
  width: 282px;
  padding: 16px 16px 14px;
}

.close-icon {
  width: 14px;
  min-height: 14px;
  position: absolute;
  left: 16px;
}

.user-verified-img {
  text-align: center;

  img {
    margin-top: 5px;
    width: 108px;
    min-height: 108px;
  }
}

.user-verified-content {
  color: @color_242424;
  font-size: @font-size__14;
  font-weight: 500;
  line-height: 20px;
  margin: 23px 0 34px;
  text-align: center;
}

.user-verified-btn {
  margin-bottom: 16px;
  font-size: @font-size__16;
}
