@import "@/shared/styles/variables.less";

.line-progress-wrapper {
  width: 100%;
}

.line-progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: @font-size-sm;
}
