
@import "@/shared/styles/variables.less";

.label {
  color: @color__494949;
  font-size: @font-size-sm;
}

.value {
  color: @color__1d1d1d;
  font-size: 16px;
  font-weight: 500;
}

.table-row {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid @color__e6e6e6;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
