@import "@/shared/styles/variables.less";

.account-widget {
  &-title {
    color: @color__1d1d1d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
  }

  &-right-content {
    color: @color__primary;
    font-size: 16px;
    font-weight: 500;
  }
}
