@import '@/shared/styles/variables.less';

.payment-dialog {
  width: 100%;
  padding: 50px 54px 0 54px;

  .mp-input {
    height: 36px;
  }
}

.pay-forget-password {
  color: @color__primary;
  font-size: 12px;
  min-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 40px;
}

.pay-protocol-name {
  color: @color__primary;
  line-height: 17px;
}
