@import "@/shared/styles/variables.less";

.info-modal {
  .mp-modal-body {
    width: 280px;
    padding: 20px 16px;
    overflow: scroll;
    max-height: 500px;

    .primary-button {
      margin-top: 20px;
    }
  }
}
