.map-container {
  position: relative;

  .cooperation-map-img {
    width: 1564px;
    padding-top: 60px;
  }

  .map-china {
    position: absolute;
    top: 194px;
    right: 243px;
    width: 261px;
  }

  .map-canada {
    position: absolute;
    top: 60px;
    left: 114px;
    width: 393px;
  }

  .map-georgia {
    position: absolute;
    top: 237px;
    right: 630px;
    width: 15px;
  }

  .map-kazakhstan {
    position: absolute;
    top: 185px;
    right: 326px;
    width: 250px;
  }

  .map-uzbekistan {
    position: absolute;
    top: 185px;
    right: 226px;
    width: 250px;
  }
}
