@import '../variables.less';

.normal-form {
  .mp-form-item {
    margin-bottom: 28px;

    .mp-form-item-label {
      margin-bottom: 6px;
      line-height: 17px;

      > label::after {
        display: none;
      }

      > label {
        font-size: @font-size-sm;
        color: @color__242424;
        font-weight: 600;
      }
    }
  }

  .mp-form-explain,
  .mp-form-extra {
    margin-top: 2px;
  }

  .mp-form-item-with-help {
    margin-bottom: 5px;
  }

  .mp-input[disabled] {
    background-color: @white;
    border-color: @color__d9d9d9;
  }

  .mp-input-disabled {
    color: @color__242424;
  }

  .mp-input {
    height: 44px;
    padding: 11px 12px;
    line-height: 22px;
    font-size: @font-size-lg;
    background-color: @color__f7f8fc;
    border-color: transparent;
  }

  .mp-input-suffix {
    right: 20px;
  }

  .has-error .mp-input,
  .has-error .mp-input:hover {
    background-color: @color__f7f8fc;
  }

  .mp-select-selection {
    height: 44px;
    line-height: 22px;
    font-size: @font-size-lg;
    background-color: @color__f7f8fc;
    border-color: transparent;
  }

  .has-error .mp-select-selection {
    border-color: @color__f5222d;
  }

  .mp-select-selection__rendered {
    line-height: 44px;
  }

  .mp-calendar-picker {
    width: 100%;
  }

  .select-icon {
    transform: translateY(4px);
  }

  .mp-calendar-picker:hover .mp-calendar-picker-input:not(.mp-input-disabled) {
    border-color: transparent;
  }
}
