@import "@/shared/styles/variables.less";

.error-notification {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: 6px solid @color__fe6565;

  .mp-notification-notice-message {
    margin-bottom: 0;

    .spotecicon {
      margin-right: 11px;
    }
  }
}

.success-notification {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-left: 6px solid @color__primary;

  .mp-notification-notice-message {
    margin-bottom: 0;

    .spotecicon {
      margin-right: 11px;
    }
  }
}
