@import "../variables.less";

.mine-tabs-card {
  .mp-tabs-bar {
    display: inline-block;
  }

  .mp-tabs-top-bar {
    border: 0;
  }

  .mp-tabs-nav-wrap {
    margin-bottom: 0;
  }

  .mp-tabs-nav-container {
    border-radius: 4px;
    background-color: @color__f7f8fc;
    box-shadow: 0 8px 11px 0 rgba(92, 118, 166, 0.05);
  }

  .mp-tabs-tab {
    color: @color__494949;
    font-size: @font-size-lg;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 110px;
    text-align: center;
    transition: none;

    &:hover {
      color: @color__494949;
    }

    &-active {
      border: 1px solid @color__3093ea;
      border-radius: 4px;
      background-color: @color__3093ea;
      color: @white;

      &:hover {
        color: @white;
      }
    }
  }

  .mp-tabs-ink-bar {
    display: none !important;
  }
}
