@import "@/shared/styles/variables.less";

.spotecicon {
  fill: @white;

  &.btc-icon {
    color: @color__f89e30;
  }

  &.eth-icon {
    color: @color__343b5b;
  }

  &.usdt-icon {
    color: @color__1ba27a;
  }
}
