@import '@/shared/styles/variables.less';

.rules-item {
  position: relative;
  display: flex;
  color: @color__242424;
  font-size: @font-size-base;
  line-height: 20px;
  padding-bottom: 29px;
  white-space: pre-wrap;
  z-index: 1;
}

.rules-item::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 19px;
  width: 0;
  height: 100%;
  z-index: -1;
  border-left: 2px dotted @color__02b4d7;
}

.rules-content-wrap {
  padding: 22px 246px 22px 201px;
  background-color: @white;
  border-radius: 5px;
  text-align: left;

  > .rules-item:first-child {
    align-items: center;
  }

  > .rules-item:first-child + div {
    align-items: center;
  }

  > .rules-item:last-child::after {
    display: none;
  }
}

.rules-item-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.rules-detail-wrap {
  padding: 0 40px 36px;
  color: @color__242424;
  font-size: @font-size-base;
  line-height: 26px;
  text-align: left;
}

.rules-detail-title {
  color: @color__494949;
  font-size: @font-size-lg;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
}

.rules-detail-content {
  padding: 17px 26px;
  border: 1px solid @color__cacaca;
  border-radius: 4px;
}
