@import "@/shared/styles/variables.less";

.container {
  width: 610px;
  margin-bottom: 40px;

  :global {
    .form-container {
      padding-top: 20px;
    }
  }
}

.amount-input-suffix {
  span {
    &:first-child {
      margin-right: 48px;
      font-weight: 500;
      color: @color__242424;
    }

    &:last-child {
      color: @color__primary;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.pledge-amount-prompt {
  font-size: @font-size-sm;
  line-height: 17px;
  color: @color__242424;
  margin-top: 6px;
  font-weight: 600;
}

.pledge-help {
  color: @color__primary;
  height: 100%;
  padding-right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: @font-size__28;
  cursor: pointer;

  :global {
    .spotecicon {
      width: 28px;
      height: 28px;
      margin-left: 4px;
    }
  }
}
