@import "@/shared/styles/variables.less";

.look-forward-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.look-forward-img {
  width: 29px;
  height: 34px;
}

.look-forward-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: @font-size-lg;
  font-weight: 500;
  color: @color_494949;
  padding-left: 3px;
}

.start-time {
  font-size: @font-size-sm;
  font-weight: normal;
  color: @color_494949;
}
