@import "@/shared/styles/variables.less";

.banner-box {
  height: 494px;
  overflow: hidden;

  .banner-img-box {
    display: flex !important;
    justify-content: center;
  }

  :global {
    .mp-carousel {
      .slick-current img {
        z-index: @z-index__99;
      }

      .slick-dots {
        bottom: 84px;
        left: -524px;

        > li {
          margin: 0;
          margin-right: 6px;
          background-color: @white;

          button {
            width: 29px;
            border-radius: 0;
            font-size: 0;
          }
        }

        .slick-active button {
          width: 68px;
          background-color: @color__primary;
        }
      }
    }
  }
}
