@import "@/shared/styles/variables.less";

.banner-box {
  text-align: center;
  height: 494px;

  :global {
    .mp-carousel {
      display: inline-block;
      width: 1920px;

      .slick-track {
        display: flex;
        align-items: flex-start;
        transform: translate3d(-1920px, 0, 0);
      }

      .slick-dots {
        bottom: 84px;
        left: -524px;

        > li {
          margin: 0;
          margin-right: 6px;
          background-color: @white;

          button {
            width: 29px;
            border-radius: 0;
            font-size: 0;
          }
        }

        .slick-active button {
          width: 68px;
          background-color: @color__primary;
        }
      }
    }
  }
}

.banner-content {
  position: relative;
}

.banner-text {
  margin-top: 67px;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
}
