@import '@/shared/styles/variables.less';

.upload-enter {
  width: 162px;
  height: 135px;
  background-color: @color__f7f8fc;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 30px;
}

.no-upload {
  padding: 14px 22px 9px 24px;

  > img {
    width: 116px;
    height: 84px;
  }
}

.upload-prompt {
  font-size: @font-size__13;
  line-height: 18px;
  text-align: center;
  background-color: @color__primary;
  height: 28px;
  color: @white;
  padding-top: 4px;
  font-weight: 500;
}

.upload-img-box {
  text-align: center;

  > img {
    height: 107px;
  }
}
