@import "@/shared/styles/variables.less";

.market-renew-buff-container {
  background-color: @white;
  color: @color__242424;
  font-size: @font-size-base;
  box-sizing: border-box;
}

.new-buy-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.new-buy-buff-img {
  width: 105px;
  height: 105px;
  margin-bottom: 7px;
}

.day-rate {
  display: flex;
  justify-content: space-between;
  background-color: @color__f9f9f9;
  line-height: 20px;
  padding: 4px 8px;
  font-size: @font-size__13;

  .day {
    color: @color__8b8b8b;
    padding-left: 3px;
  }
}

.white-day-rate {
  background-color: @white;
}

.mention-content {
  padding: 8px 0 4px 4px;
  font-weight: 500;
  font-size: @font-size__13;
}

.mention-item {
  padding-top: 12px;
  line-height: 18px;
}

.little-mention {
  color: @color__8b8b8b;
  font-size: @font-size-sm;
  font-weight: 400;
  padding-top: 2px;
  line-height: 16px;
}
