@import "@/shared/styles/variables.less";

.tabs {
  :global {
    .van-tab {
      width: auto;
      padding: 0 14px;
    }

    .van-tab__text--ellipsis {
      white-space: nowrap;
    }

    .van-tabs__wrap {
      display: flex;
      justify-content: center;
    }

    .van-tabs__nav {
      background-color: transparent;
    }

    .van-tabs__nav--card {
      width: auto;
      border: 0;
      border-radius: 4px;

      .van-tab {
        background-color: transparent;
        color: @white;
        border: 1px solid rgba(255, 255, 255, 0.26);

        .van-tab__text {
          font-size: @font-size__17;
          line-height: 24px;
        }
      }

      .van-tab:nth-child(n) {
        border-right: 0;
      }

      .van-tab:first-child {
        border-radius: 4px 0 0 4px;
        border-right: 0;
      }

      .van-tab:last-child {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid rgba(255, 255, 255, 0.26);
      }

      .van-tab:first-child.van-tab.van-tab--active + .van-tab {
        border-left: 0;
      }
    }

    .van-tabs__nav--card .van-tab.van-tab--active {
      color: @color_182742;
      background-color: @color_bdcbe5;
      border: 0;
    }
  }
}
