@import "@/shared/styles/variables.less";

.detail-list {
  :global {
    .mp-table-scroll {
      border: 1px solid @color__cacaca;
      border-radius: 4px;
    }
  }
}

.bottom-guide {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
