@import "@/shared/styles/variables.less";

.detail-main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: @font-size-base;
  line-height: 28px;
  color: @color__434343;
}

.product-details-mount {
  font-size: @font-size__24;
  padding-right: 4px;
  font-weight: 500;
  margin-top: 13px;
}

.cn-product-details-mount {
  font-size: @font-size__20;
  margin-top: 0;
}

.product-extra-unit {
  color: @color__434343;
}
