@import "@/shared/styles/variables.less";

.detail-main-content {
  color: @color__434343;
  margin-top: 13px;
  line-height: 28px;
}

.product-details-mount {
  font-size: @font-size__24;
  padding-right: 4px;
  font-weight: 500;
  display: inline-block;
  line-height: 28px;
}

.cn-detail-main-content {
  margin: 5px 0;

  .product-details-mount {
    font-size: @font-size__20;
  }
}

.product-details-unit {
  font-size: @font-size-base;
  line-height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}

.product-extra-unit {
  color: @color__434343;
}
