@import "@/shared/styles/variables.less";

.top-extra {
  margin-bottom: 10px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @color__e6e6e6;
  padding-top: 12px;
}
