.video-container {
  position: relative;
  width: 406px;
  height: 757px;

  .phone-background {
    width: 406px;
    height: 757px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 3;
  }

  .purchase-video {
    position: absolute;
    top: 37px;
    right: 80px;
    width: 300px;
    height: 650px;
    border-radius: 30px;
    display: none;
  }

  .active-video {
    display: inline-block;
  }
}
