@import '@/shared/styles/variables.less';

.page-button-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgba(40, 90, 131, 0.2);
  background-color: @white;

  .page-button {
    min-width: 196px;
    height: 95px;
    font-size: 28px;
    line-height: 40px;
    border-radius: 0;
  }

  .page-button-content {
    display: flex;
    justify-content: space-between;

    .content-right {
      display: flex;
    }
  }
}
