@import '@/shared/styles/variables.less';

.page-button-wrap {
  box-shadow: 0 2px 12px 0 rgba(40, 90, 131, 0.2);

  .page-button {
    width: 196px;
    height: 95px;
    font-size: 28px;
    line-height: 40px;
  }

  .page-button-content {
    display: flex;
    justify-content: space-between;

    .content-right {
      display: flex;
    }
  }
}
