@import "@/shared/styles/variables.less";

.c2c-market-container {
  padding: 150px 0 171px 53px;
  position: relative;
  display: flex;
  min-height: 689px;

  .c2c-market-text {
    padding-bottom: 90px;
  }

  .c2c-market-dots-icon {
    position: absolute;
    bottom: 156px;
    left: -105px;
  }

  .dots-icon-right {
    position: absolute;
    bottom: 144px;
    right: 4px;
  }

  /deep/ .c2c-market-title-img {
    img {
      height: 63px;
    }
  }

  .c2c-market-introduce {
    width: 601px;
    line-height: 30px;
    color: @color__242424;
    font-size: @font-size-lg;
    padding-top: 8px;
  }

  .c2c-inline-mode {
    padding-bottom: 35px;
  }

  .c2c-img-container {
    margin-left: 67px;

    img {
      width: 380px;
      height: 368px;
    }
  }

  .yellow-line {
    position: absolute;
    bottom: 134px;
    left: -56px;
    width: 57px;
    height: 2px;
    background-color: @color__ffd100;
  }
}
