@import "@/shared/styles/variables.less";

.tag-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group-tag {
  margin-right: 5px;
}

.mention-tips {
  width: 290px;

  .mp-popover-inner-content {
    padding: 22px;
  }
}

.tag-market-button-buff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settlement-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .new-buy-button {
    padding: 5px 20px;
  }

  .tag-market-button-buff {
    margin-bottom: 12px;
  }
}

.tag-market-button-suffix {
  margin-left: 10px;
  font-size: @font-size-lg;
}

.market-renew-mount {
  color: @color__primary;
  padding-left: 2px;
}
