@import "@/shared/styles/variables.less";

.tag-groups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group-tag {
  margin-right: 5px;
}

.mention-tips {
  width: 290px;

  .mp-popover-inner-content {
    padding: 22px;
  }
}
