@import '@/shared/styles/variables.less';

.subject-summary-container {
  position: relative;
  padding: 132px 0 160px;
  display: flex;
  min-height: 683px;
}

.summary-right-content {
  width: 346px;
  height: 343px;
  margin-top: 48px;
  margin-left: 62px;
}

.subject-summary-content-container {
  position: relative;
}

.subject-summary-content {
  width: 734px;
}

.summary-content-text {
  padding-top: 9px;
  color: @color__2a2a2a;
  font-size: @font-size-base;
  line-height: 30px;
}

.introduce-detail {
  padding-bottom: 30px;
}

.en-introduce-detail {
  padding-bottom: 10px;
}

/deep/ .about-title-image {
  img {
    width: 201px;
  }
}

.summary-dots-icon {
  position: absolute;
  right: -37px;
  top: 98px;
}

.summary-left-dots-icon {
  position: absolute;
  left: -130px;
  bottom: 208px;
}

.dots-icon-right-bottom {
  position: absolute;
  right: -161px;
  bottom: 0;
}
