@import '@/shared/styles/variables.less';

.account-base-info {
  position: relative;
  color: @white;
  background-color: @color__141414;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  padding: 20px 0 30px;
}

.info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px 20px;
  height: 114px;
  border-radius: 8px;
  background-image: url('~@/assets/account/base-info-bg.png');
  background-size: cover;
  margin-bottom: 28px;
  color: @color__242424;
}

.avatar {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.base-info {
  display: flex;
  align-items: center;
}

.info-base-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: @font-size-sm;
  line-height: 17px;
}

.nickname,
.account {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nickname {
  font-size: @font-size__20;
  line-height: 28px;
}

.info-base-operate {
  margin-bottom: 7px;

  > a {
    text-decoration: underline;
    font-weight: 500;
    color: @color__b2670d;
  }

  > a:first-child {
    margin-right: 12px;
  }
}

.info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invite-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid @color__d6d6d6;
  padding: 8px 8px 8px 26px;
  width: 100%;

  > div {
    margin-right: 43px;
  }

  > div:last-child {
    margin-right: 0;
  }
}

.invited-box {
  padding: 18px 8px 18px 26px;
}

.view-qr-box {
  height: 25px;

  .qr-icon {
    width: 23px;
    height: 23px;
  }
}

.hashrate-coupon {
  display: flex;
  align-items: center;
  padding: 14px 26px;
  border: 1px solid @color__8598bb;
  border-radius: 8px;
  background-color: rgba(133, 152, 187, 0.19);
  margin-left: 40px;
  cursor: pointer;
  flex-shrink: 0;

  .coupon-icon {
    width: 19px;
    height: 19px;
    margin-right: 4px;
  }

  > span:last-child {
    font-size: @font-size-lg;
    line-height: 22px;
    color: @white;
  }

  :global {
    .mp-badge-count {
      background-color: @color__fe6565;
      box-shadow: none;
      padding: 0 4px;
      font-size: @font-size-sm;
      line-height: 16px;
      border-radius: 8px;
      height: 16px;

      .mp-scroll-number-only,
      .mp-scroll-number-only-unit {
        height: 16px;
      }
    }
  }
}

.invite-info-label {
  font-size: @font-size-sm;
  line-height: 17px;
  margin-bottom: 6px;
}

.invite-info-value {
  font-size: @font-size__18;
  line-height: 25px;
}

.view-qr {
  font-size: @font-size-sm;
  line-height: 17px;
  color: @color__8598bb;
  margin-left: 5px;
}

.invite-item {
  padding: 6px 0;
  border: 1px solid @color__8598bb;
  border-radius: 4px;
  background-color: rgba(133, 152, 187, 0.19);
  line-height: 20px;
  text-align: center;
  width: 101px;
  cursor: pointer;
}

.invitation-code {
  margin-left: 11px;
}

.invite-info-unit {
  font-size: @font-size-sm;
  line-height: 17px;
}

.promote-info {
  display: flex;
  align-items: center;
}

.promote-info-avatar {
  flex-shrink: 0;
  width: 70px;
  height: 68px;
  margin-right: 10px;
}

.promote-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  max-width: 126px;
}

.promote-level {
  font-size: @font-size-base;
  font-weight: 600;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.view-level-rule {
  font-weight: 500;
  color: @color__b2670d;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 11px;
  white-space: nowrap;
}

.bonus-item {
  display: flex;
  align-items: center;
  font-size: @font-size-sm;
  font-weight: 600;
  margin-right: 22px;

  > img {
    width: 51px;
    height: 51px;
    margin-right: 8px;
  }
}

.bonus-box {
  display: flex;
  width: 675px;
  margin-left: 22px;

  > .bonus-item:last-child {
    margin-right: 0;
  }
}

.bonus-item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bonus-value {
  display: inline-block;
  padding: 0 6.5px;
  border-radius: 10px;
  font-size: @font-size-base;
  font-weight: 600;
  color: @white;
  margin-bottom: 3px;
  background: linear-gradient(180deg, @color__ffcc85 0%, @color__bf7821 100%);
}

.invest-wrap {
  display: flex;
}

.modal {
  :global {
    .mp-modal-close {
      top: 18px;
    }

    .mp-modal-close-x {
      .spotecicon {
        color: @black;
      }
    }
  }
}

.bonus-text {
  max-width: 60px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
