@import "@/shared/styles/variables.less";

.coin-data-wrapper {
  width: 582px;
  border-radius: 18px;
  box-shadow: 0 5px 10px 5px  rgba(92, 118, 166, 0.11);
  overflow: hidden;
  background-color: @white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin-content-wrapper {
  padding: 20px 0 38px 28px;
}

.name-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: @font-size__24;
  padding-bottom: 15px;

  img {
    width: 21px;
    height: 25px;
    margin-right: 10px;
  }
}

.now-hash-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: @color__242424;

  &::before {
    display: inline-block;
    content: '';
    width: 144px;
    height: 1px;
    background-color: @color__242424;
    margin-bottom: 18px;
  }
}

.hash-rate-details {
  padding-top: 3px;
}

.now-number {
  font-size: @font-size__32;
}

.coin-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  height: 91px;
  color: @color__242424;
}

.self-produce {
  font-size: @font-size__32;
  color: @color__0e1d34;
  font-weight: 500;
}

.unit {
  font-size: @font-size-base;
  padding-left: 6px;
}

.usdt-producer {
  font-size: @font-size-base;
  font-weight: 400;
}

.coin-img {
  height: 100%;
  width: 216px;
  display: block;
}
