.coin-data {
  width: 484px;
  border-radius: 18px;
  box-shadow: 0 5px 10px 5px  rgba(92, 118, 166, 0.11);
  border: 1px solid #fff;
  overflow: hidden;

  .coin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 82px;
    padding: 0 26px 0 16px;
  }

  .name-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;

    img {
      width: 48px;
      padding-top: 5px;
      padding-left: 10px;
    }
  }

  .now-hash-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .now-number {
      font-size: 22px;
      padding-top: 5px;
    }
  }

  .coin-content {
    display: flex;
    justify-content: space-between;
    padding: 17px 26px 0;
    height: 91px;
    font-weight: 500;
    font-size: 22px;
  }

  .different-produce {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    color: #0e1d34;
  }

  .self-produce {
    .unit {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .usdt-producer {
    font-size: 14px;
    font-weight: 400;
  }
}

.btc-container {
  margin-right: 30px;

  .coin-title {
    background-color: #f89e30;
  }
}

.eth-container {
  .coin-title {
    background-color: #343b5b;
  }
}
