@import "@/shared/styles/variables.less";

.info-tooltip-wrap {
  display: flex;
}

.info-tooltip {
  .mp-tooltip-inner {
    padding: 8px 30px 10px;
  }
}

.info-title {
  font-size: @font-size__18;
  font-weight: 500;
  line-height: 25px;
}

.info-content {
  font-size: @font-size__15;
  line-height: 21px;
}
