@import "@/shared/styles/variables.less";

.order-wrapper {
  background-color: @white;
  color: @color__434343;
  font-size: @font-size-base;
  padding-right: 24px;
}

.order-img {
  width: 12px;
  padding-left: 4px;
  vertical-align: middle;
  display: inline-block;
}

.order-field {
  color: @color__primary;
}

.order-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
