@import '@/shared/styles/variables.less';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 500px);

  :global {
    .page-button-wrap {
      margin-bottom: 50px;
    }
  }
}

.content-wrap {
  width: 610px;
}

.form-wrap {
  padding: 20px 30px 28px;
  border: 1px solid @color__e6e6e6;

  :global {
    .ver-send-button {
      font-size: @font-size-base;
      line-height: 13px;
    }

    .mp-input-suffix {
      .mp-statistic-content,
      .mp-statistic-content-value,
      .mp-statistic-content-suffix {
        font-size: @font-size-base;
        line-height: 13px;
      }
    }

    .has-error .mp-input,
    .has-error .mp-input:hover {
      border-color: @color__f5222d;
    }
  }
}
