@import '@/shared/styles/variables.less';

.wrapper {
  text-align: center;
}

.title {
  font-size: @font-size__18;
  line-height: 25px;
  color: @color__242424;
  margin-bottom: 24px;
}

.button-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-wrap {
  :global {
    .mp-modal-body {
      position: relative;
      padding: 26px 28px 31px;
      border-radius: 8px;
    }

    .mp-modal-close {
      right: -56px;

      .spotecicon {
        width: 20px;
        height: 20px;
        color: @white;
      }
    }
  }
}

.share-prompt {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  font-size: @font-size__18;
  line-height: 25px;
  color: @white;
  padding: 16px 14px 17px;
  background-color: @color__182742;
  border-radius: 8px;
  text-align: left;
}
