.business-process-container {
  position: relative;
  padding-top: 179px;

  .business-square-line-icon {
    position: absolute;
    right: -45px;
    bottom: 305px;

    &::after {
      display: block;
      content: '';
      width: 57px;
      height: 2px;
      background-color: #02a6e3;
      position: absolute;
      bottom: -68px;
      right: 60px;
    }
  }

  .business-square-icon {
    position: absolute;
    left: 45px;
    bottom: 205px;
    z-index: 2;

    &::after {
      display: block;
      content: '';
      width: 66px;
      height: 48px;
      background-color: #e2e9f2;
      position: absolute;
      bottom: -18px;
      right: -33px;
      z-index: 1;
      opacity: 0.5;
    }
  }

  .business-process-title-image {
    img {
      width: 302px;
    }
  }

  .process-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
