.text-introduce-container {
  padding-right: 80px;
  padding-bottom: 70px;

  .text-introduce {
    display: flex;
    width: 460px;
    height: 94px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .process-icon {
    .spotecicon {
      color: #e6e6e6;
      width: 32px;
      height: 40px;
    }
  }

  .active-text-introduce {
    background-color: #f4f9fb;

    .spotecicon {
      color: #02a6e3;
    }
  }

  .text-wrapper {
    color: #5b5b5b;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    line-height: 28px;
    min-width: 300px;
  }

  .introduce-title {
    color: #0e1d34;
    font-size: 20px;
  }
}
