@import "~@/shared/styles/variables.less";

.nav-menu-overlay {
  .mp-dropdown-menu {
    padding: 6px 0;
  }

  .mp-dropdown-menu-item {
    padding: 8px 24px 8px 22px;
  }

  .nav-menu-item {
    display: flex;
    color: @color__8b8b8b;

    &.nav-menu-item--active {
      color: @color__primary;
    }
  }

  .nav-menu-icon {
    margin-right: 12px;
    padding-top: 4px;

    span {
      width: 30px;
      height: 30px;
    }
  }

  .nav-menu-name {
    margin-bottom: 2px;
    font-size: @font-size-lg;
    line-height: 22px;
  }

  .nav-menu-desc {
    font-size: @font-size-sm;
    line-height: 17px;
  }
}

.language-icon-box {
  font-size: 0;
  margin: 0 30px;

  .language-icon {
    width: 24px;
    height: 22px;
    fill: @color__primary;
    color: @white;
  }
}
