@import "@/shared/styles/variables.less";

::-webkit-input-placeholder {
  color: @color__cacaca;
  font-weight: normal;
}

::-moz-placeholder {/* Firefox 19+ */
  color: @color__cacaca;
  font-weight: normal;
}

:-moz-placeholder {/* Firefox 18- */
  color: @color__cacaca;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: @color__cacaca;
  font-weight: normal;
}

.mp-calendar-picker {
  .mp-calendar-picker-input.mp-input {
    height: 38px;
    background-color: @color__f7f8fc;
    border: 0;
    color: @color__242424;
    font-size: @font-size-lg;
    font-weight: 500;
    cursor: pointer;
  }

  .date-picker-icon {
    color: @color__primary;
    width: 8px;
    height: 8px;
  }
}
