@import "@/shared/styles/variables.less";

.subject-summary-container {
  position: relative;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}

.subject-summary-img {
  position: relative;
  width: 411px;
  padding-left: 50px;
  box-sizing: content-box;

  .mp-carousel {
    .slick-track {
      display: flex;
      align-items: flex-start;
      transform: translate3d(-411px, 0, 0);
    }

    .slick-dots {
      bottom: -30px;

      > li {
        margin-right: 20px;
        background-color: @color__dfdfdf;
        border-radius: 50%;
        overflow: hidden;

        button {
          width: 11px;
          height: 11px;
          font-size: 0;
        }
      }

      .slick-active button {
        width: 11px;
        background-color: @color__primary;
      }
    }
  }

  img {
    width: 411px;
    border-radius: 48px;
  }

  div {
    width: 411px;
    height: 100%;
    border-radius: 48px;
  }
}

.subject-summary-content-container {
  position: relative;
}

.subject-summary-content {
  width: 644px;
  font-size: 16px;
}

.summary-content-text {
  border-top: 2px solid #ffd100;
  font-size: 16px;
  padding-top: 9px;
  color: #2a2a2a;
  line-height: 30px;
}

.introduce-detail {
  padding-bottom: 30px;
}

.en-introduce-detail {
  padding-bottom: 10px;
}

.about-title-image {
  img {
    width: 201px;
  }
}

.summary-dots-icon {
  position: absolute;
  right: 0;
  top: -4px;
}
