.our-advantage-container {
  position: relative;
  padding-top: 153px;
}

.square-line-icon {
  position: absolute;
  left: -16px;
  top: 22px;

  &::after {
    display: block;
    content: '';
    width: 57px;
    height: 2px;
    background-color: #ffd100;
    position: absolute;
    bottom: 0;
    left: 40px;
  }
}

.square-right-icon {
  position: absolute;
  top: 0;
  right: 30px;
}

.advantage-title-image {
  img {
    width: 278px;
  }
}

.square-blue-icon {
  position: absolute;
  right: -16px;
  bottom: -42px;
  z-index: -1;

  &::after {
    display: block;
    content: '';
    width: 57px;
    height: 2px;
    background-color: #02a6e3;
    position: absolute;
    bottom: -40px;
    left: 55px;
  }
}
