.news-wrapper {
  width: 760px;
  text-align: left;
  border-bottom: 1px solid #182742;
  margin-top: 25px;
}

.news-date {
  font-size: 14px;
  line-height: 20px;
  color: #959595;
}

.news-title {
  font-size: 24px;
  line-height: 33px;
  color: #242424;
  margin: 10px 0;
}
