@import '@/shared/styles/variables.less';

.notification-success {
  display: flex;

  .spotecicon {
    width: 22px;
    height: 22px;
    fill: @color__primary;
    color: @color__primary;
  }

  &-value {
    word-break: break-word;
    word-wrap: break-word;
  }
}
