.news-content-wrapper {
  padding-top: 22px;
  min-height: calc(100vh - 471px);
}

.news-content {
  display: flex;
  flex-wrap: wrap;

  & > a {
    margin-bottom: 25px;
    margin-right: 30px;
  }

  & > a:nth-child(3n) {
    margin-right: 0;
  }
}

.no-data {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  margin-bottom: 22px;
}
