@import '@/shared/styles/variables.less';

.news-content {
  text-align: center;
  padding-top: 34px;
  min-height: calc(100vh - 471px);
}

.news-box {
  display: inline-block;

  > div:last-child::after {
    display: none;
  }
}

.no-data {
  font-size: @font-size-lg;
  line-height: 22px;
  color: @color__242424;
  margin-bottom: 22px;
}
