.news-content {
  text-align: center;
  min-height: calc(100vh - 451px);
}

.news-box {
  display: inline-block;
  padding-bottom: 222px;
}

.no-data {
  font-size: 16px;
  line-height: 22px;
  color: #242424;
  margin-bottom: 22px;
}
