@import '@/shared/styles/variables.less';

.picture-process-wrap {
  min-width: 30px;
  min-height: 30px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
