@import "@/shared/styles/variables.less";

.sale-title {
  display: flex;
  align-items: center;
  font-size: @font-size-lg;
  color: @color__494949;
  font-weight: 500;
}

.pre-sale-img {
  width: 23px;
  height: 20px;
  margin-left: 4px;
}

.time-need {
  font-size: @font-size-sm;
  color: @color__494949;
}
