@import "@/shared/styles/variables.less";

.power-off {
  background-color: @color__e6e6e6;
  padding: 0 5px;
  color: @color__494949;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: normal;

  .cancel-icon {
    padding-left: 3px;
    display: flex;
    align-items: center;

    .spotecicon {
      width: 10px;
      height: 10px;
      fill: @color__494949;
    }
  }
}
